{% extends 'hospital/homebase.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <style>
        body{
            width: 90vw;
        }
      
    </style>
</head>
<body>
    <!--Section: Contact v.2-->
<section class="mb-2" style="margin-top:100px;margin-left: 80px;">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 md-0 mb-4">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row mb-2" >

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="fw-bold">Your name:</label>

                            <input type="text" id="name" name="name" class="form-control bg-light">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="fw-bold">Your email:</label>

                            <input type="text" id="email" name="email" class="form-control bg-light">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-2">
                            <label for="subject" class="fw-bold">Subject:</label>

                            <input type="text" id="subject" name="subject" class="form-control bg-light">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message" class="fw-bold">Your message:</label>

                            <textarea type="text" id="message" name="message" rows="2" class="form-control bg-light md-textarea"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left mt-4">
                <a class="btn btn-primary fw-bold" onclick="document.getElementById('contact-form').reset();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center " style="margin-right:0px;">
            <ul class="list-unstyled mb-0">
                <li><a href="#"><i class="fas fa-location-dot fa-2x"></i></a>
                    <p>Agra, UP, INDIA</p>
                </li>

                <li><a href="#"><i class="fa-solid fa-phone mt-4 fa-2x"></i></a></i>
                    <p>+ 91 234 567 89</p>
                </li>

                <li><a href="#"><i class="fas fa-envelope mt-4 fa-2x"></i></a></i>
                    <p>Rohitsharma@gmail.com</p>
                    
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</body>
</html>
{% endblock content %}
