<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      .foot{
        background-color: #150269;
      }
      .foot a{
        color: aliceblue;
        margin: 10px 50px;
        padding: 5px 5px;
        text-decoration: none;
      }
    </style>
    
    <footer class="text-center text-white fixed-bottom" style="background-color: #150269; height: 50px;color: aliceblue;">
        <!-- Grid container -->
        <div class="container"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 foot">
          <a href="#">© 2022 Copyright: R.S </a>   
          <a href="/aboutus">About us</a> 
          <a href="#">Privacy poloicy</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>